.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input {
  margin-bottom: 10px;
}

.login-form button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  border-radius: 10px;
}

.login-form a {
  margin-top: 20px;
}

.login-form .error {
  color: red;
  margin-top: 10px;
}
