.wish-thankyou {
  position: relative;
  height: calc(100vh - 56px);
  box-sizing: border-box;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  padding: var(--spacing-large);
  background: url("idf.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  text-align: right;
}

.wish-thankyou-preview {
  padding: 0 var(--spacing-large);
}

.wish-thankyou-form {
  margin-top: 16px;
}

.wish-thankyou-form .thankyou-textarea {
  height: 150px;
}

.wish-thankyou-form label {
  text-align: right;
}

.wish-thankyou-form .submit-button {
  margin-top: 8px;
}
