.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  margin-top: var(--spacing-large);
}

.login-page span.button-group {
  display: flex;
}

.login-page .login-button {
  margin: 50px 5px;
  width: 150px;
}

.login-page .unit-login {
  background-color: var(--accent-color);
  color: var(--accent-text-color);
}

.login-page .volunteer-login {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
