.new-wish-form {
  direction: rtl;
  background-color: var(--accent-color);
  color: var(--accent-text-color);
  padding: var(--padding);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-wish-form h1 {
  margin-bottom: var(--spacing-large);
}

.new-wish-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: var(--spacing-large);
}

.new-wish-form input,
.new-wish-form select,
.new-wish-form textarea {
  width: 100%;
  padding: var(--spacing-small);
  margin-top: var(--spacing-small);
  border-radius: var(--border-radius-medium);
}

.new-wish-form input[type="submit"] {
  display: inline-block;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: var(--spacing-small) var(--spacing-large);
  border-radius: var(--border-radius-medium);
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
}

.new-wish-form input[type="submit"]:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
