.unit-dashboard {
  display: flex;
  flex-direction: column;
}

.unit-dashboard .wish-cards {
  max-height: 85vh;
  margin: 16px 0;
  overflow-y: scroll;
}

.unit-dashboard .new-wish-button {
  margin-top: var(--spacing-large);
}
