:root {
  --primary-color: #0f6cbd; /* Blue */
  --secondary-color: #ffffff; /* White */
  --accent-color: #4b5320;
  --accent-text-color: #ffdb58;
  --border-radius: 10px;
  --border-radius-medium: 5px; /* Replace with your desired border radius */
  --spacing-small: 10px; /* Replace with your desired spacing */
  --spacing-large: 20px; /* Replace with your desired spacing */
  --label-margin: 3px;
}

.IDFood {
  text-align: center;
  background-color: var(--secondary-color);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
