.volunteer-page {
  height: calc(100vh - 56px);
  box-sizing: border-box;
  padding: var(--spacing-large);
  background: url("israel.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
