.app-header {
  display: flex;
  position: sticky;
  top: 0;
  height: 56px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  z-index: 999;
}

.welcome {
  margin-right: auto;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

.logo-wrapper img {
  margin-left: 3px;
}

.menu-button {
  background-color: transparent;
  border: none;
  color: var(--secondary-color);
  font-size: 24px;
  margin-right: 10px; /* Add some spacing between the menu button and the logo */
}

.logo {
  width: 50px; /* Adjust the width and height to your preference */
  cursor: pointer;
}

.menu-wrapper {
  position: absolute;
}
