.wish-details {
  direction: rtl;
  text-align: right; /* Add this line */
}

.wish-details-card-header {
  display: flex;
  align-items: baseline;
}

.wish-details-card-header .status-badge {
  margin-right: var(--label-margin);
}
