:root {
  --primary-color: #0038b8; /* Blue */
  --secondary-color: #ffffff; /* White */
  --background-color: #4b5320;
  --text-color: #ffdb58;
  --padding: 20px;
  --border-radius: 10px;
  --margin-bottom: 10px;
  --spacing-small: 10px; /* Replace with your desired spacing */
  --spacing-large: 20px; /* Replace with your desired spacing */
  --border-radius-medium: 5px; /* Replace with your desired border radius */
}

.wish-details {
  direction: rtl;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: var(--padding);
  border-radius: var(--border-radius);
}

.wish-details p {
  margin-bottom: var(--margin-bottom);
}

.wish-details button {
  display: inline-block;
  background-color: var(--text-color);
  color: var(--background-color);
  padding: var(--spacing-small) var(--spacing-large);
  border-radius: var(--border-radius-medium);
}
