.unit-form {
  direction: rtl;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: var(--padding);
  border-radius: var(--border-radius);
}

.unit-form label {
  display: block;
  margin-bottom: var(--margin-bottom);
}

.unit-form input[type="submit"] {
  background-color: var(--text-color);
  color: var(--background-color);
}