.unit-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding);
  background-color: var(--background-color);
  color: var(--text-color);
}

.unit-page .new-wish-button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  margin-top: 20px;
}

.unit-page span {
  display: flex;
  flex-direction: column;
}
