.request-card {
  width: 100%;
  max-width: 300px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.request-card img {
  width: 100%;
  height: auto;
}

@media (min-width: 900px) {
  .request-card {
    width: calc(100% / 3 - 20px);
  }
}
